*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
}

header>h1{
    font-weight: normal;
}

ul{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    font-size: x-large;
}

li:hover{
    cursor: pointer;
    color: red;
}

nav{
    width: 60vw;
    margin-top: 8px;
}

.bigImage{
    width: 95vw;
    margin: 1rem;
    margin-bottom: 4rem;
}

.container{
    display: flex;
    justify-content: space-around;
}

.container>div{
    text-align: center;
    margin-right: 2rem;
}

.container p{
    font-size: x-large;
    text-align: justify;
    
}

.container h1{
    font-weight: normal;
}

footer{
    text-align: center;
    background-color: black;
    color: white;
    height: 4rem;
    justify-content: center;
}

footer>p{
    font-size: x-large;
    padding: 1rem;
}